/* Color Palette */
:root {
    --brown-chocolate--: #620e2c;
    --dark-chocolate--: #3f0a29;
    --twilight-lavender--: #94426a;
    --middle-purple--: #db90be;
    --spanish-pink--: #f5bcc1;
}

/* Header */
header {
    background: url(../images/index-header-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.intro-block {
    display: flex;
    max-width: 70%;
    margin: 0 auto;
    padding: 15px;
    color: var(--dark-chocolate--);
    justify-content: space-evenly;
    align-items: center;
}

.intro-item {
    max-width: 50%;
    height: fit-content;
    padding: 0 15px;
}

.intro-blurb {
    width: 70%;
}

.menu-link {
    display: block;
    width: max-content;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    background: var(--twilight-lavender--);
    color: var(--spanish-pink--);
    font-size: 2rem;
    margin: 15px auto;
    text-decoration: none;
}

.sign-up-block {
    margin: 15px auto;
    width: 70%;
    text-align: center;
    color: var(--dark-chocolate--);
}

.menu-link button {
    text-decoration: none;
}

.home-spacer {
    display: block;
    max-width: 70%;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    margin: 0 auto 15px auto;
}

/* Landing Page Styles */
#landing {
    background: #140613;
    color: var(--spanish-pink--);
}

#landing header {
    position: absolute;
    z-index: 10;
    width: 100%;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
    background: none;
}

#landing main {
    height: 600px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.bg-img {
    position: absolute;
    display: block;
    width: 3500px;
    top: calc(50%);
    left: calc(50% + 10px);
    transform: translate(-50%,-50%);
}

.cg-lay {
    position: absolute;
    width: 1900px;
    top: calc(50%);
    left: calc(50% + 10px);
    transform: translate(-50%,-50%);
}

.star1-lay {
    position: absolute;
    width: 2000px;
    top: calc(50%);
    left: calc(50% - 80px);
    transform: translate(-50%,-50%);
}

.star2-lay {
    position: absolute;
    width: 2500px;
    top: calc(50%);
    left: calc(50% - 50px);
    transform: translate(-50%,-50%);
}

.lc-lay {
    position: absolute;
    width: 1900px;
    top: calc(50%);
    left: calc(50% + 10px);
    transform: translate(-50%,-50%);
}

.comet-lay {
    position: absolute;
    width: 1980px;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%,-50%);
}

.cloud-lay {
    position: absolute;
    width: 2100px;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);
}

.text-section {
    display: flex;
    align-items: center;
    position: absolute;
    width: 70%;
    max-width: 1080px;
    top: 350px;
    left: calc(50%);
    transform: translate(-50%, -50%);
    pointer-events: all;
}

.text-blurb {
    margin-top: 40px;
    background: transparent;
    border: 2px solid #f5bcc1;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    padding: 30px 40px;
    color: var(--middle-purple--);
}

.text-blurb p {
    color: var(--spanish-pink--);
}

/* Landing Content */
#landing-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1080px;
    padding: 15px;
}

#build-your-own-text {
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
}

.user-block {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid var(--spanish-pink--);
    padding: 15px;
    margin: 0 auto;
}

.user-block img {
    margin: 15px auto;
    display: block;
    text-align: center;
}

.menu-icons {
    margin: 0 auto;
    width: 200px;
}

/* ---Mobile Viewport--- */
@media screen and (max-width:768px) {
    #landing main {
        height: 900px;
    }

    .intro-block {
        flex-direction: column;
    }
    
    .intro-item {
        max-width: 100%;
        text-align: center;
        padding: 15px;
    }

    .home-spacer {
        max-width: 100%;
        width: 100%;
    }

    .text-section {
        flex-direction: column;
        height: 600px;
    }

    .text-section img {
        max-width: 400px;
    }

    .bg-img {
        position: absolute;
        display: block;
        width: 1900px;
        top: calc(50%);
        left: calc(50% + 10px);
        transform: translate(-50%,-50%);
    }

    #landing-content {
        margin-top: -100px;
        flex-direction: column;
    }
}