/* Color Palette */
:root {
    --brown-chocolate--: #620e2c;
    --dark-chocolate--: #3f0a29;
    --twilight-lavender--: #94426a;
    --middle-purple--: #db90be;
    --spanish-pink--: #f5bcc1;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "fields", sans-serif;
}

/*  Fonts */
@font-face {
    font-family: 'starlight';
    src: url(../fonts/Goldfish.ttf);
}

/* text */
html {
    font-size: 62.5%;
}

body {
    font-family: "fields", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    background-color: var(--twilight-lavender--);
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    background: none;
    color: var(--spanish-pink--);
    align-items: center;
    margin: 0 5px;
    z-index: 10;
}

header{
    background-color: #3f0a29;
}

.nav-list {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nav-item {
    padding: 10px;
}

.nav-links, .sign-up, .login {
    text-decoration: none;
    color: var(--spanish-pink--);
}

.hamburger {
    display: none;
    padding: 15px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--spanish-pink--);
}

.nav-login-signout {
    background: linear-gradient(to right, var(--twilight-lavender--), var(--dark-chocolate--));
    margin-right: 10px;
    padding: 10px 5px;
    border-radius: 30px;
    float: right;
}

/*Boxes*/

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    flex: 1;
    height: 100vh;
    /* background-color: #620e2c; */
}

.box {
    background-color: var(--spanish-pink--);
    color: var(--brown-chocolate--);
    text-align: center;
    width: 300px;
    height: 300px;
    line-height: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 20px;
    font-size: 24px;
}

.box:hover {
    background-color: var(--middle-purple--);
}

p, h2{
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    color: var(--spanish-pink--);
}
.content h2{
    margin-top:20px ;
    background-color: #620e2c;
}
.menu-controls {
    text-align: center;
    margin-bottom: 20px;
}

.menu-controls input {
    margin: 0 5px;
    padding: 5px;
    font-size: 1.6rem;
}

.menu-controls button {
    padding: 5px 10px;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: var(--middle-purple--);
    color: var(--brown-chocolate--);
    border: none;
    border-radius: 5px;
}

#menu-list {
    margin: 20px;
    padding: 20px;
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #3f0a29;
    border-radius: 40px;
}

.menu-item {
    margin: 10px 0;
    font-size: 1.8rem;
    color: var(--spanish-pink--);
}

.menu-item button {
    margin-left: 10px;
    background-color: var(--dark-chocolate--);
    color: var(--spanish-pink--);
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

/* Footer */
footer {
    display: flex;
    background: var(--brown-chocolate--);
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}

.footer-nav {
    margin: 15px;
}

.footer-links {
    color: var(--spanish-pink--);
    text-decoration: none;
    display: block;
    padding: 5px;
}

/* ---Tablet Viewport--- */
@media screen and (max-width: 768px) {
    nav {
        width: 100%;
    }

    /* Adjust box size for tablet */
    .container {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 250px;
        height: 250px;
    }
}

/* ---Mobile Viewport--- */
@media screen and (max-width: 408px) {
    body {
        font-size: 1.6rem;
    }

    .container {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .box {
        width: 80%;
        height: 200px;
        margin-bottom: 20px;
        flex-direction: column;
    }

    footer {
        display: block;
        position: unset;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}