/* Color Palette */
:root {
    --brown-chocolate--: #620e2c;
    --dark-chocolate--: #3f0a29;
    --twilight-lavender--: #94426a;
    --middle-purple--: #db90be;
    --spanish-pink--: #f5bcc1;
}

/* Header */
header{
    background: url(../images/order-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
body{
    background: linear-gradient(to left, #3f0a29, #3f0a29, #94426a);
}
/* Order Section */
.order-section{
    width: 100%;
    padding: 20px 0;
    justify-content: space-between;
    text-align: center;
}
.order-section h4{
    color: var(--middle-purple--);
}
.order-section p{
    color: var(--twilight-lavender--);
}
/* Options */
.pre-options, .custom-options{ 
    display: flex;
    width: 100%;
}
.p-option{ 
    width: 300px;
    background: linear-gradient(to right, #3f0a29, #620e2c); 
    border-style: solid;
    border-color: #620e2c;
    border-width: 4px 0px 0px 4px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    min-height: fit-content;
}
.p-option h3{
    color: var(--middle-purple--);
}
li{
    list-style: none;
    color: #f5bcc1;
}
label{
    color: var(--spanish-pink--);
}
/* Dropdown Menus */
.dropdown{
    width: 200px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.dropdown ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}
.dropdown li{
    height: 0;
    overflow: hidden;
    transition: all 500ms;
}
/* Mobile Viewport */
@media screen and (max-width:768px) {
    .pre-options {
        flex-direction: column;
    }
}