/* Color Palette */
:root {
    --brown-chocolate--: #620e2c;
    --dark-chocolate--: #3f0a29;
    --twilight-lavender--: #94426a;
    --middle-purple--: #db90be;
    --spanish-pink--: #f5bcc1;
}

/* Header */
header{
    background: url(../images/order-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

/* Order Section */
.order-section{
    width: 100%;
    padding: 20px;
    text-align: center;
}
.order-section h4{
    color: var(--dark-chocolate--);
}
.order-section p{
    color: var(--twilight-lavender--);
}
/* Pre-made Options */
.pre-options{ 
    display: flex;
    width: 100%;
    height: 400px;
    background-color: var(--dark-chocolate--);
}
.p-option{ 
    width: 300px;
    background: linear-gradient(to right, #3f0a29, #620e2c); 
    border-style: solid;
    border-color: #620e2c;
    border-width: 4px 0px 0px 4px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Custom Options */