/* Color Palette */
:root {
  --brown-chocolate--: #620e2c;
  --dark-chocolate--: #3f0a29;
  --twilight-lavender--: #94426a;
  --middle-purple--: #db90be;
  --spanish-pink--: #f5bcc1;
  /* background pic */
  --licorice--: #200b18;
  --raisin-black--: #2c1724;
}

/* Header */
header {
  background: url(../images/order-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  border-bottom: #94426a;
}
body {
  background: url(../images/order-bg.png);
}
/* Order Section */
.menu-section-header {
  text-align: center;
  color: var(--spanish-pink--);
  margin: 35px auto 0 auto;
  width: 100%;
}

.section-header {
  color: var(--spanish-pink--);
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.about-band-image {
  float: left;
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 50%;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: .67em .67em;
  cursor: pointer;
}

.btn-primary {
  color: white;
  background-color: var(--middle-purple--);
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: var(--twilight-lavender--);
}

#customOrder {
  display: block;
  margin: 0 auto;
}

.shop-item {
  margin: 30px;
  width: 250px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: var(--spanish-pink--);
  margin-bottom: 15px;
}

.shop-item-image {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: var(--spanish-pink--);
}

#coffee-section, #tea-section, #dessert-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: var(--middle-purple--);
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--twilight-lavender--);
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: var(--middle-purple--);
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: var(--middle-purple--);
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: var(--brown-chocolate--);
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #a2083e;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid var(--brown-chocolate--);
  background-color: #eee;
  color: var(--navy-purple--);
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid var(--twilight-lavender--);
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: var(--middle-purple--);
  margin-right: 20px;
}

.cart-total-price {
  color: var(--spanish-pink--);
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  background: var(--brown-chocolate--);
  color: var(--spanish-pink--);
  border: none;
  border-radius: 20px;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}
h4 {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: var(--spanish-pink--);
  margin-bottom: 15px;
}

.p-option h3 {
  color: var(--spanish-pink--);
}
.custom-options {
  display: flex;
  width: 100%;
}
.p-option {
  width: 300px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  min-height: fit-content;
  color: #f5bcc1;
} 

.p-option li {
  list-style-type: none;
}

.dropdown {
  border: #db90be;
  background: var(--twilight-lavender--);
  color: #f2cdd9;
  border-width: 5px;
  border-radius: 5px;
  width: fit-content;
}

#custom-order {
  display: block;
  width: max-content;
  margin: 0 auto;
}

.cust-label, #customerName {
  display: block;
  text-align: center;
  margin: 10px auto;
}

.cust-label {
  color: var(--middle-purple--);
}
