html, body{
    height: 100%;
    margin: 0;
}

/*Color Palette */
:root {
    --brown-chocolate--: #620e2c;
    --dark-chocolate--: #3f0a29;
    --twilight-lavender--: #94426a;
    --middle-purple--: #db90be;
    --spanish-pink--: #f5bcc1;
}

h2{
    text-align: center;
    margin: 25px;
    color: var(--middle-purple--);
  }

h1{
    text-align: center;
    margin: 40px;
    padding: 40px;
    color: var(--middle-purple--);
  }
  
  /* General Styles */
body{
    margin: 0;
    padding: 0;
    height: 100vh;  
    background-image: url("../images/marblewhite.webp");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
  }

a{
    text-decoration: none;
}

.container{
    width:1200px;
    margin:auto;
    max-width: 90%;
    transition: transform 1s;
}
header img{
    width:60px;
}
header{
    display: flex;
    align-items: center;
    justify-content:space-between ;
}
header .iconCart{
    position: relative;
    z-index: 1;
}
header .totalQuantity{
    position: absolute;
    top: 0;
    right: 0;
    font-size: x-large;
    background-color: #db90be;
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(20px);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.listProduct .item img{
    width:100%;
}
.listProduct .item h2{
    font-weight: 700;
    font-size: x-large;
}
.listProduct .item .price{
    font-size: x-large;
}
.listProduct .item{
    position:relative;
}
.listProduct .item button{
    
}